.content {
	@extend %clr;
	height: 102%;
	margin: 1px 0 0 170px;
	padding: 10px;
	overflow: hidden;
	border: 20px solid #fff;
	background-color: #F6F8E8;
}


.slider {
	position: relative;
	
	&__inner {
		position: absolute;
		width: 100%;
		height: auto;
		// background-color: rgba(73, 65, 62, 0.15);
		color: #FFF;
		text-align: center;
	}

	&__title {
		margin-top: 10px;
		font-size: 26px;
		text-shadow: 0 1px 1px #333;
	}
	
	&__image {
		width: 100%;
		height: auto;
	}
}

.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: transparent;
}

.mCS-dark-thin.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark-thin.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color: #fff;
}


.active .slider__title {
	-webkit-animation: titleAnimation 3s 2s ease;;
	   -moz-animation: titleAnimation 3s 2s ease;;
	        animation: titleAnimation 3s 2s ease;; 
	-webkit-animation-fill-mode: forwards;
	   -moz-animation-fill-mode: forwards;
	     -o-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
} 

@-webkit-keyframes titleAnimation {
	from { font-size: 26px; }
	to { font-size: 40px; }
}

@-moz-keyframes titleAnimation {
	from { font-size: 26px; }
	to { font-size: 40px; }
}
@keyframes titleAnimation {
	from { font-size: 26px; }
	to { font-size: 40px; }
}

