//  Стили для часто используемых элементов HTML

@import "compass/css3";

body {
	background-color: #FFF;
	padding: 15px 20px 20px 40px;
}

.wrap {
	max-width: 100%;
	height: 100%;
	padding: 20px;
	@include border-top-radius(30px);
	background-color: rgb(226,226,226); // Old browsers
	@include filter-gradient(#e2e2e2, #e2e2e2, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba(226,226,226,1) 0%,rgba(247,247,247,1) 50%,rgba(201,201,201,1) 100%,rgba(226,226,226,1) 100%));
}

a:active, a:visited, a:focus, a:hover {
	color: inherit;
	text-decoration: none;
}